.movie{
    width: 100%;
    height: 600px;
    position: relative;
}
.movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.movie video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
.Moviewithhin{
    padding: 170px 20px;
    background-color:linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5)),;
       
      
}
.movielogo{
    width: 300px
}
.buttonaddcon{
    display: flex;
    flex-direction: row;
}
.playbtn{
    background-color: white;
    color: black;
    font-family: 'Outfit', sans-serif;
    padding: 7px 24px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlistbtn{
    background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
    color: white;
    font-family: 'Outfit', sans-serif;
    padding: 7px 24px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot{
    width: 350px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
}
.nseries{
    display: flex;
    align-items: center;
}
.series{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-weight: 500;
}
